In [ ]:
# LİSTELERİN ÖZELLİKLERİ
#
#1. Lists are ordered.
[1, 2, 3, 4] == [4, 1, 3, 2] # False

#2. Lists can contain any arbitrary objects.
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

#3. List elements can be accessed by index.
a[1]  # 'foobar'

#4. Lists can be nested to arbitrary depth.
x = ['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j']

#5. Lists are mutable.
a[2] = 10 # 3 ü 10 yaptık

#6. Lists are dynamic.
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a[2:2] = [1, 2, 3]  #extend, append() gibi fonksiyonlara sahip
# ['foo', 'bar', 1, 2, 3, 'baz', 'qux', 'quux', 'corge']

Bakılabilecek linkler;
[Data Structures](https://docs.python.org/3/tutorial/datastructures.html )


[Lists_Tuples](https://realpython.com/python-lists-tuples/#lists-are-mutable)

In [ ]:
# Liste elemanlarına erişim indis ler ile gerçeklrşir;
word = ['h', 'a', 'p', 'p', 'y']
word[1]  # 1. indisli eleman (2.eleman) döndürülür.

'a'

In [ ]:
type(word)

list

In [ ]:
type(word[1])

str

In [ ]:
#indis:    0       1         2        3       4
colors = ["red", "purple", "blue", "green", "yellow"]
#indis:   -5      -4        -3       -2      -1

In [ ]:
#"blue" datasına erişmek istiyorum. Ne yapabilirim?
colors[2]

'blue'

In [ ]:
colors[-3]

'blue'

In [11]:
city = ["New York", "Istanbul", "Seoul", "Berlin", "London"]
city_list = [] # boş bir liste
city_list.append(city)  # liste içerisine 1 adet başka bir liste eklendi
print(city_list)
print("city_list'in eleman sayısı..: ", len(city_list))

[['New York', 'Istanbul', 'Seoul', 'Berlin', 'London']]
city_list'in eleman sayısı..:  1

In [12]:
city = ["New York", "Istanbul", "Seoul", "Berlin", "London"]
city_list = [] # boş bir liste
city_list.extend(city)
print(city_list)
print("city_list'in eleman sayısı..: ", len(city_list))

['New York', 'Istanbul', 'Seoul', 'Berlin', 'London']
city_list'in eleman sayısı..:  5

In [16]:
city = ["New York", "Istanbul", "Seoul", "Berlin", "London"]
city_list = [] # boş bir liste
city.extend(city_list)
print(city)
print("city'nin eleman sayısı..: ", len(city))

['New York', 'Istanbul', 'Seoul', 'Berlin', 'London']
city'nin eleman sayısı..:  5

In [17]:
city = ["New York", "Istanbul", "Seoul", "Berlin", "London"]
city_list = [[]] # 1 elemanlı liste
city.extend(city_list)
print(city)
print("city'nin eleman sayısı..: ", len(city))

['New York', 'Istanbul', 'Seoul', 'Berlin', 'London', []]
city'nin eleman sayısı..:  6

In [18]:
city_list = [["New York", "Istanbul", "Seoul", "Berlin", "London"]]
city_list[0]

['New York', 'Istanbul', 'Seoul', 'Berlin', 'London']

In [19]:
# "Istanbul" datasına nasıl erişirim?
city_list[0][1]

'Istanbul'

In [20]:
city_list[1]

IndexError: ignored

In [21]:
city_list[0][1][3] # "Istanbul" sttriginin 3. indisli elemanına 'a' ya erişirim.

'a'

In [23]:
even_numbers = [2, 4, 6, 8, 10, 12, 14]
even_numbers[2:5]  # start=2, stop=5, step=+1

[6, 8, 10]

In [24]:
type(even_numbers[2:5])

list

In [26]:
print(range.__doc__)

range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).

In [28]:
print(range(2,16,2))  # range nesnesi döner

range(2, 16, 2)

In [30]:
even_numbers = list(range(2,16,2))    # range nesnesini listeye dönüştürdük...
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14]

In [35]:
numbers = list(range(1,11))
numbers_odd = numbers[0:11:2]
print(numbers_odd)

[1, 3, 5, 7, 9]

In [38]:
numbers = list(range(11))  # 0,1,2,3,4,5,6,7,8,9,10
numbers_odd = numbers[1::2]
print(numbers_odd)

[1, 3, 5, 7, 9]

In [34]:
list(range(1,11))[::2]

[1, 3, 5, 7, 9]

In [39]:
city = ["New York", "Istanbul", "Seoul", "Berlin", "London"]
city_list = city[:]  # tüm elemanlar kopyalanır eşdeğeri: city_list = city.copy()
print(city_list)

['New York', 'Istanbul', 'Seoul', 'Berlin', 'London']

In [40]:
print(city == city_list)  # içeriklerini kontrol eder
print(city is city_list)  # id'leri kontrol eder

True
False

In [41]:
id(city)

135250951287296

In [42]:
id(city_list)

135250949803520

In [43]:
city = ["New York", "Istanbul", "Seoul", "Berlin", "London"]
city[3:]  # start:3

['Berlin', 'London']

In [44]:
city[:3]  # stop:3

['New York', 'Istanbul', 'Seoul']

In [45]:
city[::2]

['New York', 'Seoul', 'London']

In [46]:
mix_list = [1, [1, "one", 2, "two", 3, "three"], 4]
mix_list[1][1::2]

['one', 'two', 'three']

In [47]:
url = "https://realpython.com"
#com verisine erişmek için kısaca
url[-3:]  # son 3 karakteri al diyebiliriz (negatif indis ile)

'com'

In [48]:
#negatif indis
#         -5           -4        -3        -2        -1
city = ["New York", "Istanbul", "Seoul", "Berlin", "London"]
#          0            1         2         3         4
city[-4]

'Istanbul'

In [49]:
city = ["New York", "Istanbul", "Seoul", "Berlin", "London"]
city[-3:]  # dilimleme: [-3, -2, -1.indisli elemanlar dilimlenir]

['Seoul', 'Berlin', 'London']

In [50]:
city = ["New York", "Istanbul", "Seoul", "Berlin", "London"]
city[:-3]  # eşdeğeri city[0:-3] veya city[0:2]

['New York', 'Istanbul']

Listeyi ters çevirme

In [51]:
# listeyi ters çevirmek için;
city = ["New York", "Istanbul", "Seoul", "Berlin", "London"]
city[::-1]

['London', 'Berlin', 'Seoul', 'Istanbul', 'New York']

In [52]:
# listeyi ters çevirmek için;
city = ["New York", "Istanbul", "Seoul", "Berlin", "London"]
city.reverse() # city listesi üzerinde kalıcı değişiklik yapar, orjinal liste bozulur
print(city)

['London', 'Berlin', 'Seoul', 'Istanbul', 'New York']

In [55]:
# listeyi ters çevirmek için;
city = ["New York", "Istanbul", "Seoul", "Berlin", "London"]
reverse_city = list(reversed(city))  # orjinal listeyi bozmadan ters çevirmek için kullanılır...
print(reverse_city)

['London', 'Berlin', 'Seoul', 'Istanbul', 'New York']

In [56]:
city = ["New York", "Istanbul", "Seoul", "Berlin", "London"]
city[::-2]  # step negatif ise sondan başa ilerlenir...

['London', 'Seoul', 'New York']

ilerleme yönüne dikkat (step)

In [66]:
#indis      0    1    2    3    4    5    6    7    8    9
harfler = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
harfler[7:3:-1]

['h', 'g', 'f', 'e']

In [58]:
harfler[2:6:-1]  # ters yönde ilerlerken başlangıç indisi bitiş indisinden büyük olmalı!!!!

[]

In [59]:
#liste içerisinde arama
"d" in harfler

True

In [67]:
harfler + ["k", "l"]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l']

In [68]:
harfler.extend(["m","n"])
print(harfler)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'm', 'n']

In [69]:
harfler*2  # birleştirme....

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'm',
 'n',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'm',
 'n']

In [70]:
#nested list tanımlamada bir sınır yoktur
x = ['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j']
print(x)

['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j']

In [71]:
# "ddd" verisine nasıl erişirim?
x[1][1][1]

'ddd'

#TUPLEs

*  Genelde () parantezi kullanılır
*  Tipi: tuple()
*  immutable özelliktedir.
*  Listelere göre daha hızlıdır
*  Listelere göre bellekte daha az yer kaplar
*  Virgülle ayrılmış veri yapılarıdır
*  v,a,l,u,e bir tuple dır.

In [72]:
# Boş bir tuple için
empty_tuple1 = ()       #????
empty_tuple2 = tuple()

In [73]:
type(empty_tuple1)

tuple

In [74]:
type(empty_tuple2)

tuple

In [77]:
# , ler önemli
empty_tuple1 = ("ali")       # Tipi nedir?
type(empty_tuple1)

str

In [78]:
# , ler önemli
empty_tuple1 = ("ali",)       # Tipi nedir?
type(empty_tuple1)

tuple

In [79]:
# , ler önemli: Tuple; Virgülle ayrılmış veri yapılarıdır
empty_tuple1 = "ali",       # Tipi nedir?
type(empty_tuple1)

tuple

In [80]:
word = ('h', 'a', 'p', 'p', 'y')
type(word)

tuple

In [81]:
tuple_1 = ('h', 'a', 'p', 'p', 'y')
print(tuple_1)

word = "happy"
tuple_2 = tuple(word)
print(tuple_2)

('h', 'a', 'p', 'p', 'y')
('h', 'a', 'p', 'p', 'y')

In [84]:
my_tuple = ("Solar")
print(my_tuple, type(my_tuple), sep="\n")

Solar
<class 'str'>

In [85]:
my_tuple = ("Solar",)
print(my_tuple, type(my_tuple), sep="\n")

('Solar',)
<class 'tuple'>

In [86]:
solar = "Satürn", "Earth", "Uranus", "Venus"
print(solar, type(solar), sep="\n")

('Satürn', 'Earth', 'Uranus', 'Venus')
<class 'tuple'>

Tuple -> List dönüşümü

In [87]:
my_tuple = (1, 4, 5, 7, 8, 2, 4, 5)
my_list = list(my_tuple)  # list(sarmalına alınan herşey listeye dönüşür)
print(my_list)
print(type(my_list))

[1, 4, 5, 7, 8, 2, 4, 5]
<class 'list'>

List->Tuple Dönüşümü

In [88]:
my_list = [1, 4, 5, 7, 8, 2, 4, 5]
my_tuple = tuple(my_list)  # tuple(sarmalına alınan herşey tuple veri yapısına dönüşür)
print(my_tuple)
print(type(my_tuple))

(1, 4, 5, 7, 8, 2, 4, 5)
<class 'tuple'>

String->Tuple Dönüşümü

In [89]:
word = "happy"
my_tuple = tuple(word)
print(my_tuple)

('h', 'a', 'p', 'p', 'y')

In [90]:
tuple_1 = 'h', 'a', 'p', 'p', 'y'
tuple_2 = 1, 3, 5
print(tuple_1)
print(type(tuple_1))
print(tuple_2)

('h', 'a', 'p', 'p', 'y')
<class 'tuple'>
(1, 3, 5)

In [91]:
# Tuples are ordered.
(1, 3, 4, 6) == (1, 6, 3, 4)

False

Tuple verilerine erişim

In [92]:
# Aynı string ve listelerde olduğu gibi index no'lar ile erişebiliriz
my_tuple = ('h', 'a', 'p', 'p', 'y')
my_tuple[0]

'h'

In [93]:
my_tuple[5]  # olmayan indis no'ya erişim hatası: IndexError

IndexError: ignored

In [94]:
# tuple is immutable.
my_tuple = ('h', 'a', 'p', 'p', 'y')
my_tuple[1] = "e"

TypeError: ignored

In [97]:
mix_tuple = (3, "ali", [2, 5, ("six", 6)], (5, "beş"))
#indis no:   0    1          2                 3
# "six" datasına nasıl erişirim
mix_tuple[2][2][0]

'six'

In [99]:
mix_tuple[2][1:3]

[5, ('six', 6)]

In [100]:
type(mix_tuple[2][1:3])

list

In [101]:
mix_tuple = (3, "ali", [2, 5, ("six", 6)], (5, "beş", "fairy"))
mix_tuple[3][1:3]

('beş', 'fairy')

In [102]:
type(mix_tuple[3][1:3])

tuple

In [104]:
last_item = mix_tuple[-1]
print(last_item, type(last_item))

(5, 'beş', 'fairy') <class 'tuple'>

In [105]:
mix_tuple = (3, "ali", [2, 5, ("six", 6)], (5, "fair"))
# "fair" i almak için nasıl bir indisleme kullanılır
print(mix_tuple[-1][1])
#or
print(mix_tuple[3][1])

fair
fair