#Listeler

In [1]:
# liste oluşturma:
bos_liste1 = list()
bos_liste2 = []

In [2]:
type(bos_liste1)

list

In [3]:
type(bos_liste2)

list

In [5]:
liste1 = ['h','a','p','p','y']
print(liste1)
word = "happy"
liste2 = list(word)
print(liste2)

['h', 'a', 'p', 'p', 'y']
['h', 'a', 'p', 'p', 'y']

In [6]:
ulkeler = ["Almanya", "Fransa", "Arjantin", "Japonya"]
print(ulkeler)

['Almanya', 'Fransa', 'Arjantin', 'Japonya']

In [7]:
nums = [1, 2, 3, 4, 5]
print(nums)

[1, 2, 3, 4, 5]

In [8]:
mix_liste = ['Almanya', 'Fransa', 2, 3, 4, 'Arjantin', 'Japonya']
print(mix_liste)

['Almanya', 'Fransa', 2, 3, 4, 'Arjantin', 'Japonya']

In [9]:
nums = [1, 2, 3, 4, 5]
nums2 = [5, 2, 3, 4, 1]
nums == nums2 # mi? Çünkü: listeler ordered(sıralı) veri yapılarıdır...

False

In [17]:
word = "h a p p y"
liste2 = list(word)
liste3 = ["happy"]
liste4 = word.split() # listeye dönüştürür....
print(liste2)
print(liste3)
print(liste4)

['h', ' ', 'a', ' ', 'p', ' ', 'p', ' ', 'y']
['happy']
['h', 'a', 'p', 'p', 'y']

In [12]:
type(liste3)

list

In [18]:
print(f"liste2 nin eleman sayısı.: {len(liste2)}")
print(f"liste3 ün eleman sayısı.: {len(liste3)}")
print(f"liste4 ün eleman sayısı.: {len(liste4)}")

liste2 nin eleman sayısı.: 9
liste3 ün eleman sayısı.: 1
liste4 ün eleman sayısı.: 5

In [19]:
type(liste4)

list

In [21]:
mix_liste = ['Almanya', 'Fransa', 2, 3, 4, 'Arjantin', 'Japonya', True, None, [3, 'a', 5]]
print(mix_liste)
print(len(mix_liste))

['Almanya', 'Fransa', 2, 3, 4, 'Arjantin', 'Japonya', True, None, [3, 'a', 5]]
10

In [24]:
my_list = ["joseph", "clarus", 2023]
new_list1 = list(my_list)  # içerdekileri alıp koyma
print(new_list1)
print(len(new_list1))

new_list2 = [my_list]  # kabı ile beraber koyma
print(new_list2)
print(len(new_list2))

['joseph', 'clarus', 2023]
3
[['joseph', 'clarus', 2023]]
1

In [25]:
text = "2020's hard."
new_text1 = list(text)
new_text2 = [text]
print(new_text1)
print(new_text2)

['2', '0', '2', '0', "'", 's', ' ', 'h', 'a', 'r', 'd', '.']
["2020's hard."]

#liste Metotları
https://docs.python.org/3/library/stdtypes.html#typesseq-list

In [27]:
dir(list)[-11:] # listelere özgü metotlar/fonksiyonlar

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [30]:
# listeler mutable, string'ler immutable
text = "1,4,7"
text.replace("4", "5")
print(text)

1,4,7

In [31]:
text = "1,4,7"
text = text.replace("4", "5")
print(text)

1,5,7

In [29]:
# append(): listenin sonuna yeni bir eleman ekler
nums = [1, 4, 7]
nums.append(9)
nums.append('9')
print(nums)

[1, 4, 7, 9, '9']

In [35]:
empty_list = []
empty_list.append(6666)
empty_list.append("Multiverse")
empty_list.append([0])
print(empty_list)

[6666, 'Multiverse', [0]]

In [37]:
city = ["New York", "Istanbul", "Berlin", "Seoul"]
city.append("Addis Ababa")
print(city)

['New York', 'Istanbul', 'Berlin', 'Seoul', 'Addis Ababa']

# indis Kavramı:
pozitif indisler : 0 dan soldan sağa doğru başlayan tamsayılardır;
negatif indisler: -1 den sağdan sola doğru başlayan tamsayılardır.

In [38]:
#poz.indis   0          1          2        3
#neg. indis -4          -3        -2       -1
city = ["New York", "Istanbul", "Berlin", "Seoul"]
city.append("Addis Ababa")
print(city[-1])

Addis Ababa

In [39]:
city[4]

'Addis Ababa'

In [40]:
liste = []
liste.append(1)
liste.append(2)
liste.append(3)
liste.append(4)
print(liste)

[1, 2, 3, 4]

In [41]:
my_list = []
my_list.append(1,2,3,4)
print(my_list)

TypeError: ignored

In [42]:
my_list = []
my_list.append([1,2,3,4])  # tek bir item istiyor....
print(my_list)

[[1, 2, 3, 4]]

In [44]:
help(list.insert)

Help on method_descriptor:

insert(self, index, object, /)
    Insert object before index.

In [46]:
# insert : belirtilen indis'e elemanı ekler ve diğerlerini sağa doğru kaydırır...
numbers = [1, 4, 7]
numbers.insert(2,9)
numbers.insert(2,6)
print(numbers)

[1, 4, 6, 9, 7]

In [47]:
#poz.indis   0          1          2        3
#neg. indis -4          -3        -2       -1
city = ["New York", "Istanbul", "Berlin", "Seoul"]
city.insert(2, "Addis Ababa")
print(city)

['New York', 'Istanbul', 'Addis Ababa', 'Berlin', 'Seoul']

In [52]:
city.index("Addis Ababa")  # indisi verir

2

In [51]:
numbers = [4,5,9,1,3,6]
min(numbers)  # minimum'u alır ama hepsi aynı tip olmalı

1

In [53]:
numbers = [4,5,9,1,3,6]
max(numbers)  # maximum'u alır ama hepsi aynı tip olmalı

9

In [54]:
help(list.extend)

Help on method_descriptor:

extend(self, iterable, /)
    Extend list by appending elements from the iterable.

In [56]:
a = [1,2,3]
b = [4,5,6]
a.append(b)
print(a)
print(len(a))

[1, 2, 3, [4, 5, 6]]
4

In [57]:
a = [1,2,3]
b = [4,5,6]
a.extend(b)
print(a)
print(len(a))

[1, 2, 3, 4, 5, 6]
6

In [144]:
a = [1,2,3]
b = [4,5,6]
a += b #a = a + b  # extend işlevi :
print(a)
print(len(a))

[1, 2, 3, 4, 5, 6]
6

In [58]:
# listenin sonuna insert ile yeni eleman ekleme
#inds      0  1  2  3
my_list = [1, 2, 3, 4]
my_list.insert(4, 5)
print(my_list)

[1, 2, 3, 4, 5]

In [59]:
my_list = [1, 2, 3, 4]
my_list.insert(len(my_list), 5)
print(my_list)

[1, 2, 3, 4, 5]

In [63]:
#inds      0  1  2  3
#indis    -4 -3 -2 -1
my_list = [1, 2, 3, 4]
my_list.insert(-1, 5)  # sondan bir öncekine yerleştirir....
print(my_list)

[1, 2, 3, 5, 4]

In [64]:
#inds      0  1  2  3
#indis    -4 -3 -2 -1
my_list = [1, 2, 3, 4]
my_list.insert(3, 5)  # sondan bir öncekine yerleştirir....
print(my_list)

[1, 2, 3, 5, 4]

In [65]:
help(list.remove)

Help on method_descriptor:

remove(self, value, /)
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [66]:
numbers = [1, 4, 7, 9]
numbers.remove(7)  # elemanın kendisi yazılır
print(numbers)

[1, 4, 9]

In [67]:
city = ["New York", "Istanbul", "Berlin", "Seoul"]
city.remove("Berlin")
print(city)

['New York', 'Istanbul', 'Seoul']

In [68]:
city.remove("Berlin")  # ValueError hatası verir eğer eleman yoksa
print(city)

ValueError: ignored

In [69]:
list.clear.__doc__

'Remove all items from list.'

In [70]:
# clear : listeyi boşaltır
city = ["New York", "Istanbul", "Berlin", "Seoul"]
city.clear()  # Tüm listeyi boşlatır... boş liste döndürür....
print(city)

[]

In [71]:
# clear : listeyi boşaltır
city = ["New York", "Istanbul", "Berlin", "Seoul"]
city = []  # Tüm listeyi boşlatır... boş liste döndürür....
print(city)

[]

In [73]:
city = ["New York", "Istanbul", "Berlin", "Seoul"]
del city[:]  # listenin tamamını boşaltır
print(city)

[]

In [76]:
city = ["New York", "Istanbul", "Berlin", "Seoul"]
del city[1:3]  # 1-3 arasını boşaltır
print(city)

['New York', 'Seoul']

In [75]:
help(list.pop)

Help on method_descriptor:

pop(self, index=-1, /)
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [78]:
city = ["New York", "Istanbul", "Berlin", "Seoul"]
city.pop()  # en sondaki elemanı siler
print(city)

['New York', 'Istanbul', 'Berlin']

In [79]:
city = ["New York", "Istanbul", "Berlin", "Seoul"]
city.pop(0)  # en baştaki elemanı siler
print(city)

['Istanbul', 'Berlin', 'Seoul']

In [80]:
city = ["New York", "Istanbul", "Berlin", "Seoul"]
city.pop([1:3])  # tek bir index istiyor....
print(city)

SyntaxError: ignored

In [81]:
city = ["New York", "Istanbul", "Berlin", "Seoul"]
print("silinen..:", city.pop())

silinen..: Seoul

In [83]:
print(list.sort.__doc__)

Sort the list in ascending order and return None.

The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
order of two equal elements is maintained).

If a key function is given, apply it once to each list item and sort them,
ascending or descending, according to their function values.

The reverse flag can be set to sort in descending order.

In [88]:
numbers = [7,1,4,6,5]
numbers.sort()
print(numbers)

[1, 4, 5, 6, 7]

In [86]:
numbers = [7,1,4,6,5]
sorted_numbers = numbers.sort()  # başka bir değişkene sıralı sonuç aktarılmaz
print(sorted_numbers)

None

In [87]:
numbers = [7,1,4,6,5]
sorted_numbers = sorted(numbers)  # başka bir değişkene aktarıldı
print(sorted_numbers)

[1, 4, 5, 6, 7]

In [89]:
# büyükten küçüğe sıralama yapmak için
numbers = [7,1,4,6,5]
numbers.sort(reverse=True) # büyükten küçüğe sıralama yaptık
print(numbers)

[7, 6, 5, 4, 1]

In [92]:
# harf sıralaması
harf = ['a','z', 'O', 'k', 'i', 'e', 'C', 'B']
harf.sort()  # ASCII kod tablosuna göre sıralar
print(harf)

['B', 'C', 'O', 'a', 'e', 'i', 'k', 'z']

In [93]:
# harf sıralaması
harf = ['a','z', 'O', 'k', 'i', 'e', 'C', 'B']
harf.sort(key=str.lower)  # ASCII kod tablosuna göre sıralar
print(harf)

['a', 'B', 'C', 'e', 'i', 'k', 'O', 'z']

In [94]:
help(list.reverse)

Help on method_descriptor:

reverse(self, /)
    Reverse *IN PLACE*.

In [95]:
# tersçevirme
numbers = [7,1,4,6,5]
numbers.reverse()  # listeyi ters çevirir... (in-place)
print(numbers)

[5, 6, 4, 1, 7]

In [97]:
# tersçevirme
numbers = [7,1,4,6,5]
tersi_liste = numbers[::-1]  # listeyi ters çevirir...
print(tersi_liste)

[5, 6, 4, 1, 7]

In [98]:
city = ["New York", "Sydney", "Istanbul", "Berlin", "Seoul"]
city.sort()
print(city)

['Berlin', 'Istanbul', 'New York', 'Seoul', 'Sydney']

In [99]:
mix_list = ["d", 1, "a", 3, "z"]
mix_list.sort()
print(mix_list)

TypeError: ignored

In [101]:
"a" < 65  # sort(), min(), max() karşılaştırma işlemi yaparken '<' operatörünü kullanır...

TypeError: ignored

In [102]:
ord("a") < 65

False

In [103]:
liste1 = ["one", "nine", "four"]
liste1.sort()
print(liste1)

['four', 'nine', 'one']

In [104]:
liste1 = ["*-", "$", "four"]
liste1.sort()
print(liste1)

['$', '*-', 'four']

In [106]:
liste1 = [True, False, 1, True]  # Çünkü True/False int tipi altında yer alır True:1, False:0
liste1.sort()
print(liste1)

[False, True, 1, True]

In [107]:
liste1 = [[10], [9], [456]]
liste1.sort()
print(liste1)

[[9], [10], [456]]

In [108]:
liste1 = [[10, 9, 8], [9,3], [10,456,567,900]]  # listenin ilk elemanına bakarak sıralar...
liste1.sort()
print(liste1)

[[9, 3], [10, 9, 8], [10, 456, 567, 900]]

In [109]:
# len() : listenin eleman sayısını verir..
liste1 = [[10, 9, 8], [9,3], [10,456,567,900]]
print(len(liste1))

3

In [110]:
help(list.copy)

Help on method_descriptor:

copy(self, /)
    Return a shallow copy of the list.

In [123]:
city = ["New York", "Istanbul", "Berlin", "Seoul"]
new_city = city.copy() # farklı bir nesne oluşturur
print(new_city)

['New York', 'Istanbul', 'Berlin', 'Seoul']

In [124]:
id(city)

140292695984320

In [125]:
id(new_city)

140292697734464

In [126]:
new_city.append("Izmir")
print(new_city)

['New York', 'Istanbul', 'Berlin', 'Seoul', 'Izmir']

In [127]:
print(city)

['New York', 'Istanbul', 'Berlin', 'Seoul']

In [122]:
city = ["New York", "Istanbul", "Berlin", "Seoul"]
new_city2 = city[:] # farklı bir nesne oluşturur
print(new_city2)

['New York', 'Istanbul', 'Berlin', 'Seoul']

In [115]:
id(city)

140292696998912

In [116]:
id(new_city2)

140292697005760

In [117]:
city = ["New York", "Istanbul", "Berlin", "Seoul"]
new_city3 = city  # id'leri aynı olduğundan kopyalama /yedek işleminde dikkat!!!
print(new_city3)

['New York', 'Istanbul', 'Berlin', 'Seoul']

In [118]:
id(city)

140292696019136

In [119]:
id(new_city3)

140292696019136

In [120]:
new_city3.append("Ankara")
print(new_city3)

['New York', 'Istanbul', 'Berlin', 'Seoul', 'Ankara']

In [121]:
print(city)

['New York', 'Istanbul', 'Berlin', 'Seoul', 'Ankara']

In [128]:
help(list.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [129]:
"bakambu".count("a")  # string içerisindeki 'a' sayısını döndürür.

2

In [130]:
city = ["New York", "Istanbul", "Berlin", "Seoul", "Berlin"]
city.count("Berlin")  # liste içerisinde kaç tane aranan eleman var?

2

In [131]:
'def'.isidentifier()

True

In [135]:
print("PYTHON DERSI".center(20,"*"))

****PYTHON DERSI****

In [136]:
print("PYTHON DERSI".ljust(20,"*"))

PYTHON DERSI********

In [137]:
print("PYTHON DERSI".rjust(20,"*"))

********PYTHON DERSI

In [141]:
print("SQL\tDERSİ".expandtabs(20))
print("PYTHON\tDERSI".expandtabs(20))

SQL                 DERSİ
PYTHON              DERSI

In [142]:
lists = [[]] * 3  # extend işlemi
lists

[[], [], []]

In [156]:
# bir sınıftaki öğrencilerin yaşları var;
yas = [34, 23, 37, 25, 29, 22, 19, 33, 36]
# küçükten büyüğe sıralama
sorted_yas = sorted(yas)
print(sorted_yas)

# yaş sınıf ortalamasını nasıl alırım
ortalama = sum(yas)/len(yas)
print("Sınıfın ortalama yaşı..:", ortalama)
# listeyi ters çeviririm.
yas_ters_liste = list(reversed(yas)) # yas_ters_liste = [::-1]
print(yas_ters_liste)
# öğrenci sayısı
print("Eleman sayısı.:",len(yas))

[19, 22, 23, 25, 29, 33, 34, 36, 37]
Sınıfın ortalama yaşı..: 28.666666666666668
[36, 33, 19, 22, 29, 25, 37, 23, 34]
Eleman sayısı.: 9

In [155]:
# bir sınıftaki öğrencilerin yaşları var;
yas = [34, 23, 37, 25, 29, 22, 19, 33, 36]
# küçükten büyüğe sıralama
copy_yas = yas.copy()
copy_yas.sort()
print(copy_yas)
copy_ters_liste = yas[:]
copy_ters_liste.reverse()
print(copy_ters_liste)
print(yas)
print(sum(yas))

[19, 22, 23, 25, 29, 33, 34, 36, 37]
[36, 33, 19, 22, 29, 25, 37, 23, 34]
[34, 23, 37, 25, 29, 22, 19, 33, 36]
258